# Project 1 | Statistical Learning

importing numpy and pandas

In [1]:
import numpy as np
import pandas as pd

1.Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (3 points)

In [2]:
df = pd.read_csv('Laliga.csv')
df.columns = df.iloc[0]
df = df.reindex(df.index.drop(0))
df[df == '-'] = 0

In [3]:
df

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011-12,2
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2
21,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,9,1998-99,2013-14,2
22,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8
24,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5
25,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,1,2004-05,2015-16,6
26,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5
27,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5
28,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11
29,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6
30,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4
33,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12
34,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,0,1987-88,1996-97,7
35,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4
36,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,0,1991-92,2004-05,7
37,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,0,2007-08,2014-15,8
38,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5
39,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,0,1994-95,1997-98,10
40,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8
41,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12
42,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7
43,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,0,1999-00,2008-09,17
44,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014-15,2014-15,10
45,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934-35,3
46,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,0,1990-91,1992-93,9
47,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7
48,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,0,1996-97,1998-99,17
49,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995-96,1997-98,19
50,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10
51,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14
52,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931-32,6
53,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10
54,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930-31,8
55,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16
56,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016-17,2016-17,17
57,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
58,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
61,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

2.Print all the teams which have started playing between 1930-1980. (5 points)

In [4]:
team = df[(df['Debut'].str.split('-',1).str[0].astype(int) >= 1930) & (df['Debut'].str.split('-',1).str[0].astype(int) <= 1980)]
team

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2
22,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8
24,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5
26,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5
27,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5
28,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11
29,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6
30,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963-64,2015-16,6
31,31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,0,1974-75,1998-99,7
32,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4
33,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12
35,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4
38,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5
40,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8
41,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12
42,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7
47,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7
50,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10
51,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14
53,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10
55,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16
58,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15

3.Print the list of teams which came Top 5 in terms of points (3 points)

In [8]:
df['Points'] = df['Points'].apply(pd.to_numeric)
df.sort_values(by=['Points'],ascending=[False]).head(5)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

4.Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference. (7 points)

In [9]:
def Goal_diff_count(data):
    data['GoalsFor'] = data['GoalsFor'].apply(pd.to_numeric)
    data['GoalsAgainst'] = data['GoalsAgainst'].apply(pd.to_numeric)
    data.insert(10,'Goal Difference',data['GoalsFor'] - data['GoalsAgainst'])    
    return data,data[data['Goal Difference']==data['Goal Difference'].max()],data[data['Goal Difference']==data['Goal Difference'].min()]

In [10]:
goalDifference,maxdiff,mindiff = Goal_diff_count(df.copy())

Goal Difference by team

In [18]:
goalDifference[['Team','GoalsFor','GoalsAgainst','Goal Difference']]

0                  Team  GoalsFor  GoalsAgainst  Goal Difference
1           Real Madrid      5947          3140             2807
2             Barcelona      5900          3114             2786
3       Atletico Madrid      4534          3309             1225
4              Valencia      4398          3469              929
5       Athletic Bilbao      4631          3700              931
6               Sevilla      3680          3373              307
7              Espanyol      3609          3889             -280
8         Real Sociedad      3228          3230               -2
9              Zaragoza      2683          2847             -164
10           Real Betis      2159          2492             -333
11  Deportivo La Coruna      2052          2188             -136
12           Celta Vigo      2278          2624             -346
13           Valladolid      1767          2180             -413
14     Racing Santander      1843          2368             -525
15       Sporting Gijon      1753          2152             -399
16              Osasuna      1500          1834             -334
17               Malaga      1421          1763             -342
18               Oviedo      1642          1951             -309
19             Mallorca      1182          1371             -189
20           Las Palmas      1347          1746             -399
21           Villarreal       892           789              103
22              Granada       819          1157             -338
23       Rayo Vallecano       760          1088             -328
24                Elche       750          1022             -272
25               Getafe       520           633             -113
26             Hercules       716          1050             -334
27             Tenerife       619           744             -125
28               Murcia       607           992             -385
29               Alaves       458           623             -165
30              Levante       430           632             -202
..                  ...       ...           ...              ...
32             Sabadell       492           720             -228
33                Cadiz       393           662             -269
34             Logrones       291           489             -198
35            Castellon       419           588             -169
36             Albacete       320           410              -90
37              Almeria       244           366             -122
38              Cordoba       285           430             -145
39           Compostela       199           241              -42
40           Recreativo       202           296              -94
41            Burgos CF       216           310              -94
42           Pontevedra       165           221              -56
43             Numancia       155           253              -98
44                Eibar       139           167              -28
45               Arenas       227           308              -81
46          Real Burgos       101           139              -38
47            Gimnastic       181           295             -114
48          Extremadura        62           117              -55
49               Merida        70           115              -45
50             Alcoyano       145           252             -107
51                 Jaen       121           183              -62
52           Real Union       153           184              -31
53           AD Almeria        71           116              -45
54               Europa        97           131              -34
55               Lleida        70           182             -112
56              Leganes        36            55              -19
57                Xerez        38            66              -28
58               Condal        37            57              -20
59      Atletico Tetuan        51            85              -34
60     Cultural Leonesa        34            65              -31
61               Girona         0             0                0

[61 rows x 4 columns]

The team which has maximum goal difference

In [19]:
maxdiff[['Team','GoalsFor','GoalsAgainst','Goal Difference']]

0         Team  GoalsFor  GoalsAgainst  Goal Difference
1  Real Madrid      5947          3140             2807

The team which has minimum goal difference

In [20]:
mindiff[['Team','GoalsFor','GoalsAgainst','Goal Difference']]

0               Team  GoalsFor  GoalsAgainst  Goal Difference
14  Racing Santander      1843          2368             -525

5.Create a new column with name “Winning Percent” and append it to the data set (6 points)

In [21]:
df['GamesWon'] = df['GamesWon'].apply(pd.to_numeric)

In [22]:
df['GamesPlayed'] = df['GamesPlayed'].apply(pd.to_numeric)

In [23]:
df.insert(7,'Winning Percent',(df['GamesWon']/df['GamesPlayed'])*100)

In [24]:
df['Winning Percent'].fillna(0, inplace=True)

In [26]:
df.sort_values(by=['Winning Percent'],ascending=[False]).head(5)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,Winning Percent,GamesLost,GoalsFor,...,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,59.630702,563,5947,...,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,57.241130,608,5900,...,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,47.475134,775,4534,...,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,44.557057,861,4398,...,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,43.772629,920,4631,...,8,7,10,5,8,10,49,1929,1929,1

6.Group teams based on their “Best position” and print the sum of their points for all positions (6 points)

In [27]:
data = df.groupby('BestPosition')

In [30]:
for name,group in data:
    print(name , " ", group["Points"].sum())

1   27933
10   450
11   445
12   511
14   71
15   14
16   81
17   266
19   81
2   6904
20   34
3   5221
4   6563
5   1884
6   2113
7   1186
8   1134
9   96